

.container
{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
	
}
.row{
	display:flex;
	margin-left:-15px;
	margin-right:-15px;
	flex-wrap:wrap;
}
.row > *{
	width:100%;
	padding:0 15px;
}
	

.col-lg-1{
	
	width: 8.33%;
	padding:0 15px;
}
.col-lg-2{                                             
	
	width: 16.66%;
	padding:0 15px;
}
.col-lg-3{
	
	width: 25%;
	padding:0 15px;
}
.col-lg-4{
	
	width: 33.33%;
	padding:0 15px;
}
.col-lg-5{
	
	width: 41.66%;
	padding:0 15px;
}
.col-lg-6{
	
	width: 50%;
	padding:0 15px;
}
.col-lg-7{
	
	width: 58.33%;
	padding:0 15px;
}
.col-lg-8{
	
	width: 66.66%;
	padding:0 15px;
}
.col-lg-9
{
	
	width: 75%;
	padding:0 15px;
}
.col-lg-10{
	
	width: 83.33%;
	padding:0 15px;
}
.col-lg-11{
	
	width: 91.66%;
	padding:0 15px;
}
.col-lg-12{
	
	width: 100%;
	padding:0 15px;
}
/*------header style-----*/

.top-header{
	background-color:black;
	padding:10px 0;
	position:fixed;
	top:0;
	left:0;
	right:0;
}
h1.logo > a{
	color:white;
	text-transform:uppercase;
	font-size:30px;
	font-weight:600;
	display:inline-block;
	text-decoration:none;
	
}
h1.logo > a > span{
	color:#ffc451;
	
}

.nav .nav-menu {
	text-align:center;	
}

.nav .nav-menu .nav-list{
	
	color:white;
	padding:5px 10px;
	display:inline-block;
}

.nav-list > a{
	text-decoration:none;
	font-size:15px;
	color:white;
}
.nav-list > a:hover{
	color:#ffc451;
}


 .align-items-start{
	align-items:flex-start;
}

.align-items-center{
	align-items:center;
}

.align-items-end{
	align-items:flex-end;
}

.align-items-baseline{
	align-items:baseline;
}

.align-items-stretch{
	align-items:stretch;
} 
	


.btns{
	text-decoration:none;
	font-size:15px;
	padding:12px 25px;
	border:solid 1px white;
	border-radius:4px;
	display:inline-block;
	color:white;
	font-weight:500;
	
}

.btns:hover{
	color:black;
	background-color:#ffc541;
}

.dropdown{
	position:relative;
}
.dropdown-nav, .dropdown-sub-nav{
	background-color:white;
	position:absolute;
	top:100%;
	left:0;
	min-width:180px;
	list-style:none;
	box-shadow:0 1px 8px #777;

	opacity:0;
	visibility:hidden;
	transform:translateY(30px);
	transition:all 0.3px ease;
}

.dropdown-sub-nav{
	left:100%;
	top:80%;
	transform:translateX(-30px);
}
	

.dropdown:hover .dropdown-nav, .dropdown-sub:hover .dropdown-sub-nav{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
}

.dropdown-nav > li > a, .dropdown-sub-nav > li > a{
	display:inline-block;
	text-decoration:none;
	color:black;
	text-align:left;
	padding: 8px 15px;
	transition:all 0.3s ease;

}

.dropdown-nav > li > a:hover, .dropdown-sub-nav > li > a:hover{
	background-color:#ffc541;
	color:black;
}

	








.nav-button{
	border-color:#ffc451;
}

/* banner style----*/
	
.banner-section
{
background-image:linear-gradient(rgb(0 0 0 / 55%),rgb(0 0 0 / 24%)),url(../image/hero-bg.jpg);
background-attachment:fixed;
background-repeat:norepeat;
background-size:cover;
background-position:center top;
height:100vh;
}

	
}
.banner-content{
	text-align:center; 
}
.banner-content h1{
	color:white;
	font-size:50px;
	font-weight:700;
	padding-bottom:15px;

}

.banner-content p{

color::white;
font-size:20px;

}

.banner-content h1 span{
	color:#ffc451;
}


.banner-boxes {
	text-align:center;
	border: solid 1px #ffc451;
	padding:30px 20px;
	 color:white;
   font-size:20px;

}


.banner-boxes h4:hover{
color:#ffc451;
}
 
/*-----about----*/
.about{
	background-color:black;
	padding:50px 0;
}
.about-content{
	background-color:red;
	height:300px;
}
.about-image{
	background-color:red;
	height:300px;
}
	/*---about section ends---*/
	
	
	
	/*------client logo style---*/
	
	
	.client-logo{
		background-color:coral;
		padding:50px 0;
	}
	.logo-symbol{
		background-color:black;
		height:100px;
	}
	
	
	
	
	
	
	/*======section title style====*/
	
	.section-title{
		background-color:yellow;
		padding:50px 0;
	}




/*-----portfolio style-----*/

.port1-box {
    background-color: #ef5350;
    height: 400px;
    margin-bottom: 20px;
}


.port2-box {
    background-color: #ef5350;
    height: 250px;
    margin-bottom: 20px;
}

.port3-box {
    background-color: #ef5350;
    height: 200px;
   
}



.port11-box {
    background-color: #ef5350;
    height: 450px;
    margin-bottom: 20px;
}

.port12-box {
    background-color: #ef5350;
    height: 500px;
    margin-bottom: 20px;
}

.port13-box {
    background-color: #ef5350;
    height: 200px;
   
}



.port111-box {
    background-color: white;
  
 }

.port121-box {
    background-color: #ef5350;
    height: 200px;
    margin-bottom: 20px;
}

.port131-box {
    background-color: #ef5350;
    height: 150px;
   
}




.port1111-box {
    background-color: white;
 }

.port1211-box {
    background-color: white;
}

.port1311-box {
    background-color: #ef5350;
    height: 150px; 
}


/*====team section style===*/
.team-item{
		background-color:blue;
		height:200px;
}
	



/*------contact style----*/
.contact-item{
	background-color:gray;
	height:50px;
}

.portfolio-items{
	justify-content:center;
	padding:20px 0;
}
.contact2-item{
		background-color:gray;
	height:50px;
}

.send-message{
	background-color:white;
}
.send{
	background-color:coral;
	height:50px;
}



/*---footer section----*/
.footer-section{
	background-color:black;
	padding:50px 0;
}
.footer-box{
		background-color:white;
		height:300px;
}
	

	



	
	
.detail
{
	background-color:gray;
	padding:50px 0;
}

  .detail-content {
    background-color: pink;
    height: 200px;
  
  }
  
 
  