
.container
{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
	
}
.row{
	display:flex;
	margin-left:-15px;
	margin-right:-15px;
	flex-wrap:wrap;
}
.row > *{
	width:100%;
	padding:0 15px;
}
	

.col-lg-1{
	
	width: 8.33%;
	padding:0 15px;
}
.col-lg-2{                                             
	
	width: 16.66%;
	padding:0 15px;
}



.col-lg-3{
	
	width: 25%;
	padding:0 15px;
}
.col-lg-4{
	
	width: 33.33%;
	padding:0 15px;
}
.col-lg-5{
	
	width: 41.66%;
	padding:0 15px;
}
.col-lg-6{
	
	width: 50%;
	padding:0 15px;
}
.col-lg-7{
	
	width: 58.33%;
	padding:0 15px;
}
.col-lg-8{
	
	width: 66.66%;
	padding:0 15px;
}
.col-lg-9
{
	
	width: 75%;
	padding:0 15px;
}
.col-lg-10{
	
	width: 83.33%;
	padding:0 15px;
}
.col-lg-11{
	
	width: 91.66%;
	padding:0 15px;
}
.col-lg-12{
	
	width: 100%;
	padding:0 15px;
}
/*------header style-----*/

.top-header{
	background-color:transparent;
	padding:10px 0;
	position:fixed;
	top:0;
	left:0;
	right:0;
}

.start{
	text-align:right;
	
}


h1.logo > a{
	color:white;
	text-transform:uppercase;
	font-size:30px;
	font-weight:600;
	display:inline-block;
	text-decoration:none;
	
}
h1.logo > a > span{
	color:#ffc451;
	
}

.nav .nav-menu {
	text-align:center;	
}

.nav .nav-menu .nav-list{
	
	color:white;
	
	display:inline-block;
}

.nav-list > a{
	display:block;
	text-decoration:none;
	font-size:15px;
	font-weight:600;
	justify-content:space-between;
	color:white;
	padding:12px 10px;
}
.nav-list > a:hover{
	color:#ffc451;
}


 .align-items-start{
	align-items:flex-start;
}

.align-items-center{
	align-items:center;
}

.align-items-end{
	align-items:flex-end;
}

.align-items-baseline{
	align-items:baseline;
}

.align-items-stretch{
	align-items:stretch;
} 
	
	
.btns{
	text-decoration:none;
	font-size:15px;
	padding:12px 25px;
	border:solid 1px #ffc541;
	border-radius:4px;
	display:inline-block;
	color:white;
	font-weight:500;	
}

.btns:hover{
	color:black;
	background-color:#ffc541;
	border:solid 1px #ffc541;
}

.dropdown{
	position:relative;
}

.dropdown-sub{
	
	position:relative
	
}
.deepdropdown{
	position:absolute;
	top:50px;
	right:50px;
	transform:translateY(-50%);
}

.dropdown-nav, .dropdown-sub-nav{
	background-color:white;
	position:absolute;
	top:100%;
	left:0;
	min-width:180px;
	list-style:none;
	box-shadow:0 1px 8px #777;
	opacity:0;
	visibility:hidden;
	transform:translateY(30px);
	transition:all 0.3s ease;
}

.dropdown-sub-nav{
	left:100%;
	top:0;
	transform:translateX(-30px);
	transition: all 0.3s ease;
	padding:10px 0;
}
	

.dropdown:hover .dropdown-nav, .dropdown-sub:hover .dropdown-sub-nav{
	opacity:1;
	visibility:visible;
	transform:translate(0,0);
	text-align:left;
	
}

.dropdown-nav > li > a, .dropdown-sub-nav > li > a{
	display:block;
	text-decoration:none;
	color:black;
	text-align:left;
	padding: 10px 15px;
	transition:all 0.3s ease;

}

.dropdown-nav > li > a:hover, .dropdown-sub-nav > li > a:hover{
	background-color:#ffc541;
	color:black;
}



.nav-button{
	border-color:#ffc451;
}

/* banner style----*/
	
.banner-section
{
background-image:linear-gradient(rgb(0 0 0 / 55%),rgb(0 0 0 / 55%)),url(../image/hero-bg.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
background-position:center top;
padding:0 0 160px 0;


}
.banner-items{
	justify-content:center;
}

.banner-content{
	text-align:center; 
	margin-bottom:50px;
	padding: 197px 0 10px 0;
}
.banner-content h1{
	    color: white;
    font-size: 55px;
    line-height: 61px;
    font-weight: 600;
    padding-bottom: 10px;

}

.banner-content p{

color:#ccc;
font-size:25px;

}

.banner-content h1 span{
	color:#ffc451;
}

.banner-boxes {
	text-align:center;
	border: solid 1px #c2b0b06e;
	padding:30px 20px;
	 color:white;
   font-size:17px;
   height:100%;

}

.banner-boxes i{
	color: #ffc451;
	font-size:25px;
	padding-bottom:22px;
}

.banner-boxes:hover{

	border: solid 1px #ffc451;
}
 
 .banner-boxes h4:hover{
	 color:#ffc451;
 }
 
 
 
 
/*-----about----*/
.about{
	 padding: 60px 0 40px 0;
	

}
.about-content{
	justify-content:center;
}

.about-content h2{
	 font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
}
.about-content ul{
		margin-bottom:20px;
}
	
.about-content ul li{
	position:relative; 
	padding: 2px 24px;

}
.about-content ul li i{
	position:absolute;
	left:-3px;
	top:6px;
	font-size:20px;
	
	color:#ffc451;
}

.about-content p{
	margin-bottom:15px;
}
.about-image img{
	height:auto;
	width:100%;
}
	/*---about section ends---*/
	
	
	
	/*------client logo style---*/
	
	
	.client-logo{
		
		    padding: 50px 0 40px 0;
	}
.logo-symbol{
		height:100%;
		padding:20px 40px;
		
	}
	
	.logo-symbol img{
		width:100%;
		height:auto;
		filter:grayscale(1);
		opacity:0.5;
	}
	
	.logo-symbol img:hover{
		filter:grayscale(0);
		opacity:1;
	}
	
	
	.dots{
		text-align:center;
		padding:60px 0;
	}
	
	.dots .dot-circle{
		width:10px;
		height:10px;
		display:inline-block;
		border-radius:50%;
		background-color:#ccc;
		cursor:pointer;
		margin:0 3px;
		transition:all 0.3s ease;
	}
	
	.dot-circle.active{
		
		background-color:#ffc451;
	}
	
	
	.dots .dot-circle:hover{
		
		background-color: #ffc451;
	}



/* =====features style=====*/
.features{
	padding:60px 0;
	margin-bottom:20px;
	
}

.feature-image img{
	width:100%;
	height:auto;
}

.feature1{
	position: relative;
    padding-left: 49px;
    padding-bottom: 25px;

}


.feature1 i{
    color: #ffc451;
    font-size: 34px;
    position: absolute;
    top: 0;
    left:0;

}  
.feature1 h4{
	font-size: 21px;
    font-weight: 550;
    padding-bottom: 10px;
}

 





	
	
	
	/*======service style====*/
	
	.service{
		padding:60px 0;
	}
	
	.service-title{
		padding:0 15px 40px 0;
	}
	
	.service-title h4{
	position:relative;
	font-size: 14px;
    font-weight: 500;
    color:#aaaaaa;
	margin-bottom:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	}
	
	.service-title h4:after{
		content: "";
		position:absolute;
		width:100px;
		top:8px;
		height:1px;
		margin-left:8px;
		background-color:#ffc451;
	}
	
	
	
	
	.service-title h2{
		text-transform:uppercase;
		font-size:36px;
		font-weight:700;
		color:#151515;
	
	}
	
	
	.service-box{
		text-align:center;
		border:1px solid #ebebeb;
		background-color:white;
		padding:80px 20px;
		transition:all 0.3s ease;
		margin-bottom:30px;
		
	}
	
	
	
	.service-box:hover{
		
		transform:translateY(-10px) scale(1);
		box-shadow:0 0 10px #ccc;	
		
	}
	
	
	.service-box i{
		display:inline-block;
		font-size: 32px;
    background-color: #ffc451;
    height: 60px;
    width: 60px;
	line-height:60px;
   margin-bottom: 20px;
   border-radius:3px;

	}
	
	.service-box h4{
		font-size:25px;
		font-weight:600;
		
		padding-bottom:10px;
	
	}
	.service-box h4 a{
		text-decoration:none;
		transition:all 0.3s ease;
		color:black;
		
	}
	
	.service-box h4 a:hover{
		color:#ffc451;
	}
	
	
	
	
	/*------banner2 style---*/
	
		.Banner2{
			background-image:linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),url(../image/cta-bg.jpg);
			background-attachment:fixed;
			background-position:center;
			background-size:cover;
			padding:60px 0;
		}
	.banner2-section{
		text-align:center;
	}
	
		
	.banner2-section h2{
	color: white;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
	}
	.banner2-section p{
		color:#ffffffd9;
		font-size:17px;
		margin-bottom: 25px;
		
	}
	.click{
		border:1px solid white;
	}
/*banner2 style ends----*/

	


/*-----portfolio style-----*/


.portfolio-section{
	padding:60px 0 40px 0;
}



.portfolio-title{
	margin: 0 auto 20px auto;
 
    text-align: center;
}

.portfolio-title span{
	
	
	cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
	
	
}
.portfolio-title span:hover{
	
	color:#151515;
	background-color:#ffc451;
	
}


.portfolio-menu.active{
	
	background-color:#ffc451;
}


.port-img img{
	display:block;
	height:auto;
	width:100%;
	transition: all 0.3s ease;
	
}

.port-img{
	
	position:relative;
	overflow:hidden;
	margin-bottom:40px;

}

.port-img .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#00000070;
	display:flex;
	align-items:flex-end;
	padding:20px 20px 30px 0; 
	transition:all 0.3s ease;
	opacity:0;
	visibility:hidden;	
}

.port-img:hover .overlay{
	
	opacity:1;
	visibility:visible;
}
.port-img:hover img{
	transform:scale(1.2);
}

.overlay-content{
	
	padding-left:20px;
}

.overlay-content h3{
	color:white;
	font-size:18px;
	font-weight:600;
	padding-bottom:10px;
	text-transform:uppercase;
}
	
.overlay-content h4{

	color:#ccc;
	font-size:12px;
	font-style:italic;
	padding-bottom:5px;
	text-transform:uppercase;
	}
	
	.overlay-icon i{
		font-size:20px;
		color:white;
		padding:5px 10px;
		}

.overlay-icon i:hover{
	
	color:#ffc451;
}




/*counts style-----*/
	.counts-section{
		padding:40px 0 60px 0;
		
	}
	.counts-img img{
		height:auto; 
		width:100%;
	}

.counts-content{
	
	padding-top: 20px;
	
}


.counts-content h2{
	font-size: 28px;
    font-weight: 700;
    margin-bottom: 13px;
}

.counts-content p{
	
	color:#6d5b5b;	
	margin-bottom: 25px;
}


.counter{
	position: relative;
    padding-left:45px;
	
}

.counter h2{
	
	font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}
.counter p{
	
	    margin-bottom: 25px;
}

.counter i{
	position: absolute;
    top: 6px;
    left: 0px;
    font-size: 36px;
	color:#ffc451
	
	
}





/*====testinomial style----*/
.testimonial{
	
	background-image:linear-gradient(rgba(2, 2, 2, 1), rgba(0, 0, 0, 0.5)), url(../image/testimonials-bg.jpg);
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	padding:50px 0 20px 0;
}
.testi-part{
	
	text-align:center;
	
}
.testi-part img{
	width: 100px;
    height: 100px;
    border-radius: 70%;
    border: 5px solid #7e7171a8;	
}

.testi-part h3{
	color: white;
    margin: 6px 0 5px 0;
    font-size: 19px;
	
	
}

.testi-part p{
	color:#a39e9e;
	margin-bottom:10px;
	font-size:17px;
}

.testi p{
	color: #a39e9e;
    font-style: italic;
    font-size: 17px;
	margin-bottom:5px;
}	
.testi i{
	font-size:21px;
	color:#d0bdbd
}






/*====team section style===*/
.team-section{
	padding:60px 0 40px 0;
}


.team-info{
	
	 overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	
}

.team-info:hover .team-icon{
	
	opacity:1;
	visibility:visible;
	transform:translateY(0);
	transition:all 0.5s ease;
}
	.team-imge{	
	position:relative;
	
		
	}
	

.team-imge img{
	display:block;
	height:auto;
	width:100%;	
	transition:all 0.5s ease;
}

.team-content{
	padding:20px 15px;
}
 

.team-content h2{
	font-size: 20px;
    font-weight: 700;
	margin-bottom:2px;
}
	
	.team-content p{
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;

	}
	.team-icon{
		position:absolute;
		left:0;
		bottom:2px;
		transform:translateY(-20px);
		transition:all 0.5s ease;
		opacity:0;
		display:block;
		width:100%;
		padding:30px 10px;
		text-align:center;
		visibility:hidden;
		
		}
		
		
	
	.team-icon a{
		
	display: inline-block;
    border-radius: 4px;
    width: 36px;
    height: 36px;
	text-align:center;
	line-height:30px;
	font-size:22px;
	color:#484848;
    background-color:rgba(255, 255, 255, 0.8);
	margin:0 5px;	
	}
	
	.team-icon a:hover{
		background-color:#ffc541;
		transition:all 0.3s ease;

	}
	
	
/*-----contact style----*/	
.contact-section{
	padding:60px 0 70px 0;

	
}
.address-items{
	position:relative;
	padding-left:60px;
	margin-bottom:40px;
}
.address-items h2{
	font-size:22px;
	font-weight:500;
	color:#151515;
	margin-bottom:5px;
		
}

.address-items p{
	color:#484848;
	font-size:14px;
		
}


.address-items i{
		position:absolute;
		top:0;
		left:0;
		display:inline-block;
		font-size: 25px;
		text-align:center;
    background-color: #ffc451;
	color:#151515;
	align-items:center;
    height:44px;
    width: 44px;
	line-height:45px;
   border-radius:4px;

	}

.name input{
	
	width: 100%;
    border: 1px solid #ced4da;
    padding: 15px;
	color:#212529;
    border-radius: 4px;
	margin-bottom:30px;
}

.name input:hover{
	
	    border: 1px solid #ffc541;
}

.message-box input{
	width: 100%;
    border: 1px solid #ccc;
    padding: 35px;
    border-radius: 4px;
	margin-bottom:20px;
}
	
	.message-box input:hover{
		
		border: 1px solid #ffc541;
	}

.square{
	text-align:center;
}
	
.submit{
	display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 12px 25px;
    border: 1px solid #ffc451;
	background-color:#ffc451;
    border-radius: 4px;
    transition: all 0.3s ease;
	cursor:pointer;
	text-align:center;
}

.submit:hover{
	background: #ffcd6b;
}



/*---footer section----*/
.footer-section{
	background-color:black;
	padding:50px 0;
}
.footer-box1 h2{
	font-size:30px;
	font-weight:600;
	color:white;
	margin-bottom:20px;

}
.footer-box1 h2 span{
	color:#ffc541;
	
	
}
.footer-box1 p{
		padding-bottom:25px;
		font-size:16px;	
		color: #ccc;		
}

.footer-box1 h3{
		color:white;
		font-size:15px;
		font-weight:300;
		padding-bottom:10px;
}		

.social-media-icon{
	padding-top:12px;
	}	
	
.social-media-icon a{
	display:inline-block;
	font-size:18px;
	color:white;
	background-color:#292929;
	width:35px;
	height:35px;
	line-height:37px;
	border-radius:4px;
	text-align:center;
	margin-right:7px;
	transition:all 0.3s ease;
}
	.social-media-icon a:hover{
		
		color:black;
	background-color:#ffc541;
	
	}
	
.footer-box2 h2{
	color:white;
	font-size:17px;
	font-weight:600;
	margin-bottom:20px;
}
.footer-box2 ul > li > a{
	 text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px 0;
    line-height: 36px;
	
	
}

.footer-box2 ul > li > a:hover{
	
	color:#ffc541;
}

.footer-box2 li > a > i{
	color: #ffc541;
    font-size: 16px;
    margin-right: 9px;
}

.footer-box3 {
	margin-left:10px;
	
}
  .footer-box3 h2{
	  color:white;
	font-size:17px;
	font-weight:600;
	margin-bottom:22px;
  }
  
  .footer-box3 p{
	  color:white;
	  font-size:14px;
	  font-weight:500;
	  
  }
  
  .news-letter{
	border: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: flex-end;
	border-radius:5px;
    margin-top:30px;
  }
  
  .news-letter .footer-button{
	  display:inline-block;
	  background-color:#ffc541;
	  padding:10px 10px;
	  font-size:15px;
	  cursor:pointer;
	  border-color:white;
	  }
	  
	  .news-letter .footer-button:hover{
	  background-color:#ffcd6b;
	  }